# AWS Provider
export AWS_PROFILE=gitlab-kubernetes-with-ci
export TF_VAR_aws_profile="$AWS_PROFILE"

# Remote State
export TF_VAR_remote_state_bucket_region=eu-west-2
export TF_VAR_remote_state_s3_bucket="$AWS_PROFILE"
export TF_VAR_remote_state_lock_table="$AWS_PROFILE"

# AWS App
export TF_VAR_application_aws_region=eu-west-2

# GitLab Chart
export TF_VAR_gitlab_domain=gitlab.cpcwood
export TF_VAR_gitlab_runner_registration_token=